.collection-item {
	cursor: default!important;
}

body {
  background-image: url("/img/epfl.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.content-holder {
  background-color:rgba(255,255,255,0.9);
  border: 2px solid lightgrey
}

.section.collection {
  border: 0;
  padding: 0;
  margin: 0;
}

.sectionYear.collection-item {
  padding-left: 40px;
}

.leftMenu {
  float: left;
}