.collection-item {
	cursor: default!important;
}

.whiteNice{
  background-color: rgba(255,255,255,0.7);
}

body {
  background: url("/img/epfl.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-holder {
  background-color:rgba(255,255,255,0.9);
  border: 1px solid lightgrey
}

.section.collection {
  border: 0;
  padding: 0;
  margin: 0;
}

.sectionYear.collection-item {
  padding-left: 40px;
}

.leftMenu {
  float: left;
}

.underline{
  text-decoration: underline;
}

.rating-header{
  font-size: 14px;
}

.ourfooter{
  opacity: 0.6;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }

.nb-front {
  font-size: 1.35em;
  color:#e65100;
}